@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


:root {
--primary: #261e5a ; 
--primary-hover: #efd0f8 ;
--secondary: #030303 ;
--secondary-hover: #dd946f ;
--aura:#9265CA80 ;
--background: #f5f5f5 ;
--text-color: rgb(0, 0, 0);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}


h1 {
color: #261e5a;
}

.background {
content: "";
position: absolute;
height: 100vh;
width: 100vw;
display: grid;
place-items: center;
background-color: #f5f5f5;
opacity: 0.5;
background-size: 100%;
background-repeat: no-repeat;
background-size: auto;
}

.centering {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}


.my-form {
display: flex;
flex-direction: column;
position: relative;
gap: 16px;
background-color: #fff;
border-radius: 7px;
box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
min-width: 280px;
max-width: 460px;
width: 100%;
padding: 32px;
}


.password-welcome {
height: 80px;
width: 80px;
border-radius: 50%;
object-fit: cover;
}

.password-new-row {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 8px;
}

.my-form__button {
background-color: var(--primary);
color: #f5f5f5;
white-space: nowrap;
border: none;
display: flex;
justify-content: center;
align-items:center;
margin-top: 16px;
line-height: 50px ;
outline: none;
font-size: 18px;
letter-spacing: 0.25rem;
text-decoration: none;
cursor: pointer;
font-weight: 700;
min-height: 50px;
width: 100%;
border-radius: 10px;
box-shadow: 0 5px 10px rgba(0,0,0,.15);
transition: all .3s ease;
-webkit-transition: all .3s ease;
}

.text-field input {
color: #030303;
font-size: 13px;
font-weight: 300;
max-width: 100%;
width: 100%;
border: 1px solid var(--aura);
height: 50px;
letter-spacing: 03.rem;
background-color: transparent;
outline: none;
transition: .25s;
border-radius: 8px;
text-indent: 20px;
margin-top: 8px;
}

.myform__button:hover {
background-color: #f5f5f5;
}

.text-field {
position: relative;
}

.text-field input::-webkit-input-placeholder {  
    color: #949494;
}

.text-field input:focus {
border: 1px solid var(--primary);
}

.text-field label {
color: #261e5a;
font-size: 18px;
font-weight: 700;
letter-spacing: .03rem;
z-index: 10;
}

.my-form__actions {
display: flex;
flex-direction: column;
color: #030303;
gap: 16px;
margin-top: 8px;
font-size: 13px;
}

.my-form__actions a {
color: #261e5a;
font-weight: 500px;
font-size: 13px;
}

.my-form__actions a:hover {
color: #dd946f;
}



.my-form__row {
display: flex;
justify-content: space-between;
}










